<table>
<button (click)="somthing()">enter Somthing</button>
<button (click)="somthing()">Add</button>
<tr style="color: red"></tr>
<button (click)="somthing()">Angular </button>
<button (click)="somthing()">NodeJs</button>
<button (click)="somthing()">Ios</button>
<button (click)="somthing()">Android</button><br>
<button (click)="somthing()">JavaScript</button>
<button (click)="somthing()">Bootstrap</button>
<button (click)="somthing()">Ans</button><br><br>
<button (click)="somthing()">LogOut</button>
</table>